@font-face {
  font-family: "fuentePrincipal";
  src: url(../assets/fonts/Carthage-Pro-Regular.ttf);
}
body {
  font-family: fuentePrincipal;
  display: grid;
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: rgb(252, 244, 244);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 3fr 3fr 0.2fr;
  grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

@font-face {
  font-family: "fuentePrincipal";
  src: url(../assets/fonts/Carthage-Pro-Regular.ttf);
}
header {
  font-family: fuentePrincipal;
  background-color: white;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid rgb(33, 141, 212);
  height: 12vh;
  z-index: 5;
}
header #botoneraNav a {
  text-decoration: none;
  color: rgb(33, 141, 212);
  padding: 0vh 1vh 0vh 1vh;
  border-right: 1px solid rgb(33, 141, 212);
  font-weight: 700;
}
header #botoneraNav a:hover {
  color: rgb(60, 184, 60);
}
header #botoneraNav #btnTrabajaConNostros {
  border: none;
}

@media (max-width: 992px) {
  header {
    flex-wrap: wrap;
  }
  header #botoneraNav {
    padding-bottom: 2vh;
    display: flex;
  }
}
@media (max-width: 650px) {
  header #botoneraNav {
    padding-bottom: 2vh;
    display: flex;
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  header {
    flex-wrap: nowrap;
    flex-direction: column;
    height: 25vh;
  }
  header #logo {
    margin-top: 2vh;
  }
  header #botoneraNav {
    flex-direction: column;
    padding-bottom: 2vh;
    display: flex;
    font-size: 1.2rem;
    margin-top: 1vh;
    border-top: 3px solid rgb(33, 141, 212);
    width: 100%;
    align-items: center;
  }
  header #botoneraNav a {
    margin-top: 1vh;
    border: none;
    text-align: center;
    width: 30vh;
  }
}
@font-face {
  font-family: "fuentePrincipal";
  src: url(../assets/fonts/Carthage-Pro-Regular.ttf);
}
#mainInicio #secTitulo {
  background-image: url(../assets/imagenes/banner-main.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  border-bottom: 3px solid rgb(33, 141, 212);
  margin-bottom: 5vh;
}
#mainInicio #secTitulo h1 {
  color: white;
  font-size: 5rem;
}
#mainInicio #secTitulo h2 {
  font-size: 2.5rem;
  color: white;
}
#mainInicio #secTitulo #textoPresentacion {
  font-size: 1.3rem;
  text-align: center;
  width: 100vh;
  margin-bottom: 3vh;
  font-weight: 500;
  color: white;
}
#mainInicio #secTitulo #btnContacto {
  margin-bottom: 10vh;
  background-color: rgb(33, 141, 212);
  border: none;
  border-radius: 20px;
  height: 4.5vh;
  width: 14vh;
}
#mainInicio #secTitulo #btnContacto a {
  color: white;
  text-decoration: none;
}
#mainInicio #secTitulo #btnContacto:hover {
  background-color: white;
}
#mainInicio #secTitulo #btnContacto:hover a {
  color: rgb(33, 141, 212);
}
#mainInicio #secEquipo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#mainInicio #secEquipo #infoEquipo {
  width: 50vh;
  text-align: center;
}
#mainInicio #secEquipo #infoEquipo #tituloEquipo {
  font-size: 3rem;
}
#mainInicio #secEquipo #infoEquipo #textoEquipo {
  font-size: 1.3rem;
}
#mainInicio #secServicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}
#mainInicio #secServicio h2 {
  font-size: 2.5rem;
}
#mainInicio #secServicio #textoServicio {
  text-align: center;
  width: 100vh;
  font-size: 1.2rem;
}
#mainInicio #secServicio #btnContactoServicio {
  margin-bottom: 10vh;
  background-color: rgb(33, 141, 212);
  border: none;
  border-radius: 20px;
  height: 4.5vh;
  width: 14vh;
}
#mainInicio #secServicio #btnContactoServicio a {
  color: white;
  text-decoration: none;
}
#mainInicio #secServicio #btnContactoServicio:hover {
  background-color: rgb(125, 193, 238);
}
#mainInicio #secMetodologiaTrabajo {
  margin-top: 7vh;
  display: flex;
  justify-content: space-around;
}
#mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo h2 {
  font-size: 2.5rem;
}
#mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo h3 {
  font-size: 1.5rem;
}
#mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo ul {
  list-style-image: url(../assets/icons/flecha.svg);
}
#mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo ul li {
  font-size: 1.2rem;
  padding: 1vh 0vh 1vh 0vh;
}
#mainInicio #secMetodologiaTrabajo #fotoMetodologiaTranajo img {
  height: 70vh;
}
#mainInicio #secBannerTecnologia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/imagenes/banner-inicio-tecnologia.jpg);
  background-size: cover;
  margin-top: 5vh;
  height: 60vh;
}
#mainInicio #secBannerTecnologia img {
  margin-top: 5vh;
  height: 10vh;
}
#mainInicio #secBannerTecnologia h2 {
  font-size: 4rem;
  color: white;
}
#mainInicio #secBannerTecnologia p {
  text-align: center;
  width: 100vh;
  color: white;
  font-size: 1.3rem;
}
#mainInicio #secBeneficios {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10vh;
}
#mainInicio #secBeneficios #imgBeneficios img {
  height: 60vh;
}
#mainInicio #secBeneficios #infoBeneficios h2 {
  font-size: 2rem;
  width: 40vh;
}
#mainInicio #secBeneficios #infoBeneficios ul {
  list-style-image: url(../assets/icons/flecha.svg);
}
#mainInicio #secBeneficios #infoBeneficios ul li {
  font-size: 1.2rem;
  padding: 1vh 0vh 1vh 0vh;
}

@media (max-width: 1100px) {
  #mainInicio #secTitulo #textoPresentacion {
    font-size: 1.2rem;
  }
  #mainInicio #secEquipo img {
    width: 50vh;
  }
  #mainInicio #secEquipo #infoEquipo {
    width: 50vh;
  }
  #mainInicio #secEquipo #infoEquipo #tituloEquipo {
    font-size: 2.5rem;
  }
  #mainInicio #secEquipo #infoEquipo #textoEquipo {
    font-size: 1.2rem;
  }
  #mainInicio #secServicio h2 {
    font-size: 2.5rem;
  }
  #mainInicio #secServicio #textoServicio {
    text-align: center;
    width: 95vh;
    font-size: 1.3rem;
  }
}
@media (max-width: 860px) {
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo h2 {
    font-size: 2rem;
  }
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 800px) {
  #mainInicio #secTitulo h1 {
    color: white;
    font-size: 4rem;
  }
  #mainInicio #secTitulo h2 {
    font-size: 2rem;
    color: white;
  }
  #mainInicio #secTitulo #textoPresentacion {
    font-size: 1rem;
    width: 70vh;
  }
  #mainInicio #secEquipo img {
    width: 35vh;
  }
  #mainInicio #secEquipo #infoEquipo {
    width: 50vh;
  }
  #mainInicio #secEquipo #infoEquipo #tituloEquipo {
    font-size: 2.5rem;
  }
  #mainInicio #secEquipo #infoEquipo #textoEquipo {
    font-size: 1.2rem;
  }
  #mainInicio #secMetodologiaTrabajo #fotoMetodologiaTranajo {
    display: flex;
    align-items: center;
  }
  #mainInicio #secMetodologiaTrabajo #fotoMetodologiaTranajo img {
    height: 50vh;
  }
  #mainInicio #secServicio #textoServicio {
    width: 80vh;
  }
  #mainInicio #secBannerTecnologia p {
    width: 80vh;
  }
  #mainInicio #secBeneficios #imgBeneficios img {
    height: 50vh;
  }
  #mainInicio #secBeneficios #infoBeneficios h2 {
    font-size: 2rem;
    width: 40vh;
  }
}
@media (max-width: 768px) {
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo h2 {
    font-size: 2rem;
  }
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo h3 {
    font-size: 1.2rem;
    width: 40vh;
  }
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo ul li {
    font-size: 1rem;
    padding: 1vh 0vh 1vh 0vh;
  }
  #mainInicio #secBeneficios #imgBeneficios img {
    height: 50vh;
  }
  #mainInicio #secBeneficios #infoBeneficios h2 {
    font-size: 2rem;
    width: 40vh;
  }
  #mainInicio #secBeneficios #infoBeneficios ul li {
    font-size: 1rem;
    padding: 1vh 0vh 1vh 0vh;
  }
}
@media (max-width: 650px) {
  #mainInicio #secEquipo {
    flex-direction: column;
  }
  #mainInicio #secServicio #textoServicio {
    width: 60vh;
    font-size: 1.2rem;
  }
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo h2 {
    font-size: 2rem;
  }
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo h3 {
    font-size: 1.2rem;
    width: 40vh;
  }
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo ul li {
    font-size: 1rem;
    padding: 1vh 0vh 1vh 0vh;
  }
  #mainInicio #secMetodologiaTrabajo #fotoMetodologiaTranajo img {
    height: 40vh;
  }
  #mainInicio #secBannerTecnologia p {
    width: 50vh;
    font-size: 1.1rem;
  }
  #mainInicio #secBeneficios #imgBeneficios img {
    height: 30vh;
  }
  #mainInicio #secBeneficios #infoBeneficios h2 {
    font-size: 2rem;
    width: 40vh;
  }
  #mainInicio #secBeneficios #infoBeneficios ul li {
    font-size: 1rem;
    padding: 1vh 0vh 1vh 0vh;
    width: 40vh;
  }
}
@media (max-width: 560px) {
  #mainInicio #secTitulo h1 {
    font-size: 3rem;
  }
  #mainInicio #secTitulo h2 {
    font-size: 1.5rem;
  }
  #mainInicio #secTitulo #textoPresentacion {
    font-size: 1rem;
    width: 50vh;
  }
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo h2 {
    font-size: 2rem;
  }
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo h3 {
    font-size: 1.2rem;
    width: 40vh;
  }
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo ul li {
    width: 30vh;
  }
  #mainInicio #secMetodologiaTrabajo #fotoMetodologiaTranajo img {
    height: 30vh;
  }
  #mainInicio #secBeneficios #imgBeneficios img {
    height: 25vh;
  }
  #mainInicio #secBeneficios #infoBeneficios h2 {
    font-size: 1.5rem;
    width: 40vh;
  }
  #mainInicio #secBeneficios #infoBeneficios ul li {
    font-size: 1rem;
    padding: 1vh 0vh 1vh 0vh;
    width: 25vh;
  }
}
@media (max-width: 500px) {
  #mainInicio #secServicio #textoServicio {
    width: 50vh;
    font-size: 1.1rem;
  }
  #mainInicio #secMetodologiaTrabajo #fotoMetodologiaTranajo img {
    height: 0vh;
  }
  #mainInicio #secBeneficios #imgBeneficios img {
    height: 0vh;
  }
}
@media (max-width: 428px) {
  #mainInicio #secTitulo #textoPresentacion {
    width: 40vh;
  }
  #mainInicio #secEquipo #infoEquipo {
    width: 40vh;
  }
  #mainInicio #secServicio #textoServicio {
    width: 40vh;
    font-size: 1.2rem;
  }
  #mainInicio #secBannerTecnologia p {
    width: 40vh;
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  #mainInicio #secTitulo #textoPresentacion {
    width: 30vh;
    font-size: 1rem;
  }
  #mainInicio #secEquipo #infoEquipo {
    width: 30vh;
  }
  #mainInicio #secServicio #textoServicio {
    width: 30vh;
    font-size: 1.2rem;
  }
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo h2 {
    font-size: 1.5rem;
    width: 30vh;
  }
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo h3 {
    width: 30vh;
  }
  #mainInicio #secMetodologiaTrabajo #infoMetodologiaTrabajo ul li {
    font-size: 1rem;
  }
  #mainInicio #secBannerTecnologia {
    height: 70vh;
  }
  #mainInicio #secBannerTecnologia h2 {
    font-size: 2.5rem;
  }
  #mainInicio #secBannerTecnologia p {
    width: 30vh;
    font-size: 1rem;
  }
  #mainInicio #secBeneficios #infoBeneficios h2 {
    width: 30vh;
  }
  #mainInicio #secBeneficios #infoBeneficios ul li {
    font-size: 1rem;
  }
}
@font-face {
  font-family: "fuentePrincipal";
  src: url(../assets/fonts/Carthage-Pro-Regular.ttf);
}
footer {
  background-color: rgb(33, 141, 212);
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 3px solid rgb(20, 133, 207);
  height: 10vh;
}
footer p {
  color: white;
}

@media (max-width: 340px) {
  footer {
    font-size: 0.7rem;
  }
}
@media (max-width: 540px) {
  footer {
    height: 19vh;
  }
}
@font-face {
  font-family: "fuentePrincipal";
  src: url(../assets/fonts/Carthage-Pro-Regular.ttf);
}
#mainEdificios #tituloEdificios {
  text-align: center;
  margin-bottom: 10vh;
  background-color: rgb(33, 141, 212);
  color: white;
}
#mainEdificios #tituloEdificios h2 {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-size: 2.5rem;
  padding: 2vh 0vh 2vh 0vh;
}
#mainEdificios #listadoDeEdificios #edificio {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vh;
}
#mainEdificios #listadoDeEdificios #edificio #edificioIzquierda {
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainEdificios #listadoDeEdificios #edificio #edificioIzquierda a img {
  width: 50vh;
  margin-right: 2vh;
  border: 2px solid rgb(33, 141, 212);
  transition: transform 0.2s;
  box-shadow: 3px 3px 50px black;
}
#mainEdificios #listadoDeEdificios #edificio #edificioIzquierda a img:hover {
  transform: scale(1.1);
}
#mainEdificios #listadoDeEdificios #edificio #edificioIzquierda #infoEdificio {
  text-align: center;
}
#mainEdificios #listadoDeEdificios #edificio #edificioIzquierda #infoEdificio h2 {
  font-size: 3rem;
  color: rgb(33, 141, 212);
  width: 35vh;
}
#mainEdificios #listadoDeEdificios #edificio #edificioIzquierda #infoEdificio a {
  text-decoration: none;
  color: rgb(33, 141, 212);
  font-size: 1.2rem;
}
#mainEdificios #listadoDeEdificios #edificio #edificioIzquierda #infoEdificio a:hover {
  color: rgb(60, 184, 60);
}
#mainEdificios #listadoDeEdificios #edificio #edificioDerecha {
  display: flex;
}
#mainEdificios #listadoDeEdificios #edificio #edificioDerecha #infoEdificio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#mainEdificios #listadoDeEdificios #edificio #edificioDerecha #infoEdificio h2 {
  font-size: 3rem;
  color: rgb(33, 141, 212);
  width: 35vh;
}
#mainEdificios #listadoDeEdificios #edificio #edificioDerecha #infoEdificio a {
  text-decoration: none;
  color: rgb(33, 141, 212);
  font-size: 1.2rem;
}
#mainEdificios #listadoDeEdificios #edificio #edificioDerecha #infoEdificio a:hover {
  color: rgb(60, 184, 60);
}
#mainEdificios #listadoDeEdificios #edificio #edificioDerecha a img {
  width: 50vh;
  margin-left: 2vh;
  border: 2px solid rgb(33, 141, 212);
  transition: transform 0.2s;
  box-shadow: 3px 3px 50px black;
}
#mainEdificios #listadoDeEdificios #edificio #edificioDerecha a img:hover {
  transform: scale(1.1);
}

@media (max-width: 1410px) {
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda a img {
    width: 40vh;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda #infoEdificio h2 {
    font-size: 2.5rem;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha #infoEdificio h2 {
    font-size: 2.5rem;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha a img {
    width: 40vh;
  }
}
@media (max-width: 1340px) {
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda a img {
    width: 35vh;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda #infoEdificio h2 {
    font-size: 2rem;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha #infoEdificio h2 {
    font-size: 2rem;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha a img {
    width: 35vh;
  }
}
@media (max-width: 1200px) {
  #mainEdificios #edificio #edificioIzquierda {
    flex-direction: column;
  }
  #mainEdificios #edificio #edificioDerecha {
    flex-direction: column;
  }
  #mainEdificios #edificio #edificioDerecha #infoEdificio {
    order: 2;
  }
}
@media (max-width: 650px) {
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda a {
    display: flex;
    justify-content: center;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda a img {
    width: 25vh;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha a {
    display: flex;
    justify-content: center;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha a img {
    width: 25vh;
  }
}
@media (max-width: 540px) {
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda {
    width: 50%;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda a img {
    width: 20vh;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda #infoEdificio h2 {
    font-size: 1.5rem;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha {
    width: 50%;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha #infoEdificio h2 {
    font-size: 1.5rem;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha a img {
    width: 20vh;
  }
}
@media (max-width: 540px) {
  #mainEdificios #listadoDeEdificios #edificio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda {
    text-align: center;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda a img {
    margin: auto;
    width: 40vh;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda #infoEdificio h2 {
    font-size: 2.5rem;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha {
    margin-top: 5vh;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha #infoEdificio h2 {
    font-size: 2.5rem;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha a img {
    margin: auto;
    width: 40vh;
  }
}
@media (max-width: 350px) {
  #mainEdificios #listadoDeEdificios #edificio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda {
    text-align: center;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda a img {
    margin: auto;
    width: 30vh;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioIzquierda #infoEdificio h2 {
    font-size: 2rem;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha {
    margin-top: 5vh;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha #infoEdificio h2 {
    font-size: 2rem;
  }
  #mainEdificios #listadoDeEdificios #edificio #edificioDerecha a img {
    margin: auto;
    width: 30vh;
  }
}
@font-face {
  font-family: "fuentePrincipal";
  src: url(../assets/fonts/Carthage-Pro-Regular.ttf);
}
#mainEdificioDetalle #edificioImagen {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}
#mainEdificioDetalle #edificioImagen img {
  width: 80vh;
}
#mainEdificioDetalle #nombreEdificio {
  background-color: rgb(33, 141, 212);
}
#mainEdificioDetalle #nombreEdificio h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
#mainEdificioDetalle #detallesEdificio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
}
#mainEdificioDetalle #detallesEdificio #listadoDetallesIzquierdo ul {
  list-style-image: url(../assets/icons/flecha.svg);
}
#mainEdificioDetalle #detallesEdificio #listadoDetallesIzquierdo ul li {
  padding: 1vh 0vh 1vh 0vh;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  #mainEdificioDetalle #detallesEdificio #listadoDetallesIzquierdo ul li {
    font-size: 1.2rem;
    width: 30vh;
  }
  #mainEdificioDetalle #detallesEdificio #mapaGoogle {
    margin-top: 5vh;
  }
  #mainEdificioDetalle #detallesEdificio #mapaGoogle iframe {
    width: 50vh;
    height: 40vh;
  }
}
@media (max-width: 680px) {
  #mainEdificioDetalle #edificioImagen img {
    width: 60vh;
  }
  #mainEdificioDetalle #detallesEdificio {
    flex-direction: column;
  }
  #mainEdificioDetalle #detallesEdificio #listadoDetallesIzquierdo ul li {
    font-size: 1.2rem;
    width: 100%;
  }
}
@media (max-width: 500px) {
  #mainEdificioDetalle #edificioImagen img {
    width: 40vh;
  }
  #mainEdificioDetalle #nombreEdificio h2 {
    font-size: 2rem;
  }
  #mainEdificioDetalle #detallesEdificio {
    flex-direction: column;
  }
  #mainEdificioDetalle #detallesEdificio #listadoDetallesIzquierdo ul li {
    font-size: 1rem;
    width: 100%;
  }
  #mainEdificioDetalle #detallesEdificio #mapaGoogle {
    margin-top: 5vh;
  }
  #mainEdificioDetalle #detallesEdificio #mapaGoogle iframe {
    width: 90%;
  }
}
@media (max-width: 340px) {
  #mainEdificioDetalle #edificioImagen img {
    width: 30vh;
  }
  #mainEdificioDetalle #nombreEdificio h2 {
    font-size: 1.5rem;
  }
  #mainEdificioDetalle #detallesEdificio {
    flex-direction: column;
  }
  #mainEdificioDetalle #detallesEdificio #listadoDetallesIzquierdo ul li {
    font-size: 0.8rem;
    width: 100%;
  }
}
@font-face {
  font-family: "fuentePrincipal";
  src: url(../assets/fonts/Carthage-Pro-Regular.ttf);
}
#mainContrataServicios #contacto {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}
#mainContrataServicios #contacto #contactate {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#mainContrataServicios #contacto #contactate h2 {
  font-size: 2rem;
  width: 50vh;
  text-align: center;
  color: rgb(60, 184, 60);
}
#mainContrataServicios #contacto #contactate #mediosDeContacto {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 10vh;
  font-weight: 600;
}
#mainContrataServicios #contacto #contactate #mediosDeContacto #telefonosContacto img {
  width: 7vh;
}
#mainContrataServicios #contacto #contactate #mediosDeContacto #telefonosContacto p {
  font-size: 1.5rem;
  color: black;
}
#mainContrataServicios #contacto #contactate #mediosDeContacto #telefonosContacto #nroTelefonoCelular {
  font-size: 1.2rem;
}
#mainContrataServicios #contacto #contactate #mediosDeContacto #telefonosContacto #nroTelefonoFijo {
  font-size: 1.2rem;
}
#mainContrataServicios #contacto #contactate #mediosDeContacto #mailContacto img {
  width: 7vh;
}
#mainContrataServicios #contacto #contactate #mediosDeContacto #mailContacto p {
  font-size: 1.5rem;
}
#mainContrataServicios #contacto #contactate #mediosDeContacto #mailContacto #mail {
  font-size: 1.2rem;
  text-align: center;
}
#mainContrataServicios #contacto #nosotrosTeContactamos {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#mainContrataServicios #contacto #nosotrosTeContactamos h2 {
  font-size: 2rem;
  width: 50vh;
  color: rgb(60, 184, 60);
}
#mainContrataServicios #contacto #nosotrosTeContactamos #btnPresupuesto {
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainContrataServicios #contacto #nosotrosTeContactamos #btnPresupuesto a button {
  margin-top: 6vh;
  width: 50vh;
  height: 10vh;
  font-size: 2rem;
  border-radius: 10px;
  background-color: rgb(33, 141, 212);
  color: white;
  border-color: white;
  font-family: fuentePrincipal;
}
#mainContrataServicios #ubicacionOficinas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mainContrataServicios #ubicacionOficinas h2 {
  background-color: rgb(33, 141, 212);
  color: white;
  text-align: center;
  font-size: 3rem;
  padding: 1.7vh 0vh 1.7vh 0vh;
}

@media (max-width: 900px) {
  #mainContrataServicios #contacto {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    flex-direction: column;
    align-items: center;
  }
  #mainContrataServicios #contacto #contactate {
    margin-bottom: 5vh;
  }
  #mainContrataServicios #contacto #contactate h2 {
    font-size: 2rem;
    width: 40vh;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #telefonosContacto img {
    width: 5vh;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #telefonosContacto p {
    font-size: 1.2rem;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #telefonosContacto #nroTelefonoCelular {
    font-size: 1rem;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #telefonosContacto #nroTelefonoFijo {
    font-size: 1rem;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #mailContacto img {
    width: 5vh;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #mailContacto p {
    font-size: 1.2rem;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #mailContacto #mail {
    font-size: 1rem;
    text-align: center;
    width: 20vh;
  }
}
@media (max-width: 550px) {
  #mainContrataServicios #contacto #contactate {
    margin-bottom: 5vh;
  }
  #mainContrataServicios #contacto #contactate h2 {
    font-size: 1.5rem;
    width: 30vh;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto {
    display: flex;
    flex-direction: column;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #telefonosContacto img {
    width: 5vh;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #telefonosContacto p {
    font-size: 1.2rem;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #telefonosContacto #nroTelefonoCelular {
    font-size: 1rem;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #telefonosContacto #nroTelefonoFijo {
    font-size: 1rem;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #mailContacto img {
    width: 5vh;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #mailContacto p {
    font-size: 1.2rem;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #mailContacto #mail {
    font-size: 1rem;
    text-align: center;
    width: 20vh;
  }
  #mainContrataServicios #contacto #nosotrosTeContactamos h2 {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-size: 1.5rem;
    width: 30vh;
  }
  #mainContrataServicios #ubicacionOficinas h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 440px) {
  #mainContrataServicios #contacto #contactate h2 {
    width: 30vh;
    margin-bottom: 0vh;
  }
  #mainContrataServicios #contacto #nosotrosTeContactamos h2 {
    width: 30vh;
  }
}
@media (max-width: 400px) {
  #mainContrataServicios #contacto #nosotrosTeContactamos #btnPresupuesto a button {
    width: 30vh;
    height: 10vh;
    font-size: 1.3rem;
  }
  #mainContrataServicios #ubicacionOficinas h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 340px) {
  #mainContrataServicios #contacto #contactate {
    margin-bottom: 5vh;
  }
  #mainContrataServicios #contacto #contactate h2 {
    font-size: 1rem;
    width: 20vh;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #mailContacto img {
    width: 5vh;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #mailContacto p {
    font-size: 1.2rem;
  }
  #mainContrataServicios #contacto #contactate #mediosDeContacto #mailContacto #mail {
    font-size: 0.8rem;
    text-align: center;
    width: 15vh;
  }
  #mainContrataServicios #contacto #nosotrosTeContactamos h2 {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-size: 1.5rem;
    width: 20vh;
  }
  #mainContrataServicios #ubicacionOficinas h2 {
    font-size: 1.5rem;
  }
}
@font-face {
  font-family: "fuentePrincipal";
  src: url(../assets/fonts/Carthage-Pro-Regular.ttf);
}
#mainFormularioSolicitarPresupuesto #formularios {
  display: flex;
}
#mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto {
  width: 50%;
}
#mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto h3 {
  font-size: 3rem;
  background-color: rgb(33, 141, 212);
  text-align: center;
  color: white;
  padding: 1vh 0vh 1vh 0vh;
}
#mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto div {
  margin-left: 5vh;
}
#mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto div label {
  font-size: 1.5rem;
}
#mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto div input {
  height: 3vh;
  width: 30vh;
  margin-bottom: 2vh;
  margin-left: 3vh;
}
#mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto div #horariosInput {
  width: 7vh;
  font-family: fuentePrincipal;
}
#mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio {
  width: 50%;
  text-align: justify;
}
#mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio h3 {
  font-size: 3rem;
  background-color: rgb(33, 141, 212);
  text-align: center;
  color: white;
  padding: 1vh 0vh 1vh 0vh;
}
#mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio div label {
  font-size: 1.5rem;
}
#mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio div input {
  margin-top: 3vh;
  margin-left: 2vh;
  height: 2vh;
  font-family: fuentePrincipal;
}
#mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio div p {
  font-weight: 600;
}
#mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio #encargadoInput {
  width: 23vh;
}
#mainFormularioSolicitarPresupuesto #btnEnviarSolicitud {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
#mainFormularioSolicitarPresupuesto #btnEnviarSolicitud a button {
  width: 30vh;
  height: 10vh;
  font-size: 2rem;
  border-radius: 10px;
  background-color: rgb(60, 184, 60);
  color: white;
  border-color: white;
  font-family: fuentePrincipal;
}

@media (max-width: 870px) {
  #mainFormularioSolicitarPresupuesto #formularios {
    flex-direction: column;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto {
    width: 100%;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio {
    width: 100%;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio div {
    margin-left: 5vh;
  }
}
@media (max-width: 600px) {
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto h3 {
    font-size: 2rem;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto div label {
    font-size: 1.2rem;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto div input {
    width: 25vh;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio h3 {
    font-size: 2rem;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio div label {
    font-size: 1.2rem;
  }
  #mainFormularioSolicitarPresupuesto #btnEnviarSolicitud a button {
    width: 20vh;
    font-size: 1.2rem;
  }
}
@media (max-width: 400px) {
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto h3 {
    font-size: 1.5rem;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto div label {
    font-size: 1rem;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto div input {
    width: 20vh;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio h3 {
    font-size: 1/5rem;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio div label {
    font-size: 1rem;
  }
  #mainFormularioSolicitarPresupuesto #btnEnviarSolicitud a button {
    width: 20vh;
    font-size: 1.2rem;
  }
}
@media (max-width: 350px) {
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto {
    display: flex;
    flex-direction: column;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto h3 {
    font-size: 1.5rem;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto div label {
    font-size: 1rem;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosContacto div input {
    width: 28vh;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio h3 {
    font-size: 1/5rem;
  }
  #mainFormularioSolicitarPresupuesto #formularios #formularioDatosEdificio div label {
    font-size: 0.8rem;
  }
  #mainFormularioSolicitarPresupuesto #btnEnviarSolicitud a button {
    width: 20vh;
    font-size: 1.2rem;
  }
}
@font-face {
  font-family: "fuentePrincipal";
  src: url(../assets/fonts/Carthage-Pro-Regular.ttf);
}
#mainUniteAlEquipo h3 {
  background-color: rgb(33, 141, 212);
  color: white;
  text-align: center;
  font-size: 2.5rem;
  padding: 1vh 0vh 1vh 0vh;
}
#mainUniteAlEquipo #secFormularioPostulacionAdministrativo {
  display: flex;
  justify-content: space-around;
  margin: 0vh 2vh 0vh 2vh;
}
#mainUniteAlEquipo #secFormularioPostulacionAdministrativo #formularioPostulacionAdministrativo {
  border: 3px solid rgb(42, 44, 165);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0vh 2vh 0vh 2vh;
  background-color: rgb(70, 128, 194);
  color: white;
  width: 80vh;
}
#mainUniteAlEquipo #secFormularioPostulacionAdministrativo #formularioPostulacionAdministrativo div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#mainUniteAlEquipo #secFormularioPostulacionAdministrativo #formularioPostulacionAdministrativo div label {
  font-size: 1.5rem;
  width: 15vh;
}
#mainUniteAlEquipo #secFormularioPostulacionAdministrativo #formularioPostulacionAdministrativo div input {
  margin-left: 2vh;
  margin-bottom: 2vh;
  width: 30vh;
  height: 3vh;
}
#mainUniteAlEquipo #btnEnviarSolicitudAdministrativo {
  display: flex;
  justify-content: center;
  width: 110vh;
  margin-top: 2vh;
}
#mainUniteAlEquipo #btnEnviarSolicitudAdministrativo a button {
  width: 30vh;
  height: 7vh;
  font-size: 2rem;
  border-radius: 10px;
  background-color: rgb(60, 184, 60);
  color: white;
  border-color: white;
  font-family: fuentePrincipal;
}
#mainUniteAlEquipo #secFormularioPostulacionProveedor {
  display: flex;
  justify-content: space-around;
  margin: 0vh 2vh 0vh 2vh;
}
#mainUniteAlEquipo #secFormularioPostulacionProveedor #formularioPostulacionProveedor {
  border: 3px solid rgb(42, 44, 165);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0vh 2vh 0vh 2vh;
  background-color: rgb(70, 128, 194);
  color: white;
  width: 80vh;
}
#mainUniteAlEquipo #secFormularioPostulacionProveedor #formularioPostulacionProveedor div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#mainUniteAlEquipo #secFormularioPostulacionProveedor #formularioPostulacionProveedor div label {
  font-size: 1.5rem;
  width: 15vh;
}
#mainUniteAlEquipo #secFormularioPostulacionProveedor #formularioPostulacionProveedor div input {
  margin-left: 2vh;
  margin-bottom: 2vh;
  width: 30vh;
  height: 3vh;
}
#mainUniteAlEquipo #btnEnviarSolicitudProveedor {
  text-align: end;
  margin-right: 35vh;
  margin-top: 3vh;
}
#mainUniteAlEquipo #btnEnviarSolicitudProveedor a button {
  width: 30vh;
  height: 7vh;
  font-size: 2rem;
  border-radius: 10px;
  background-color: rgb(60, 184, 60);
  color: white;
  border-color: white;
  font-family: fuentePrincipal;
}

/*# sourceMappingURL=styles.css.map */
