@import "./mixins";
@import "./variables";


#mainContrataServicios{
    #contacto{
        display: flex;
        justify-content: space-around;
        
        margin-top: 5vh;
        #contactate{
            display: flex;
            flex-direction: column;
            width: 50%;
            
                h2{
                    font-size: 2rem;
                    width: 50vh;
                    text-align: center;  
                    color: $colorSecundario;  
                }
                #mediosDeContacto{
                    display: flex;
                    justify-content: space-around;
                    text-align: center;
                    margin-top: 10vh; 
                    font-weight: 600;                    
                    #telefonosContacto{
                        
                        img{
                            width: 7vh;
                        }
                        p{
                            font-size: 1.5rem;
                            color: black;
                        }
                        #nroTelefonoCelular{
                            font-size: 1.2rem;
                            
                        }
                        #nroTelefonoFijo{
                            font-size: 1.2rem;
                            
                        }
                    }
                    #mailContacto{
                        img{
                            width: 7vh;
                        }
                        p{
                            font-size: 1.5rem;
                        }
                        #mail{
                            font-size: 1.2rem;
                            text-align: center;
                            
                            
                            
                        }
                    }
                }
            
            
        }
        #nosotrosTeContactamos{
            display: flex;
            flex-direction: column;
            width: 50%;
             
            h2{
                font-size: 2rem;
                width: 50vh;
                color: $colorSecundario; 
                
            }
            #btnPresupuesto{
                margin-bottom: 10vh;
                display: flex;
                align-items: center;
                justify-content: center;
                
                a{
                    button{
                        margin-top: 6vh;
                        width: 50vh;
                        height: 10vh;
                        font-size: 2rem;
                        border-radius: 10px;
                        background-color: $colorPrincipal;
                        color: white;
                        border-color: white;
                        font-family: fuentePrincipal;
                    }
                }

            }
        }

    }
    
    
    #ubicacionOficinas{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2{
            background-color: $colorPrincipal;
            color: white;
            text-align: center;
            font-size: 3rem;
            padding: 1.7vh 0vh 1.7vh 0vh;

        }
    }
}
