@import "./mixins";
@import "./variables";

#mainEdificioDetalle{
    #edificioImagen{
        display: flex;
        justify-content: center;
        margin-top: 3vh;
        img{
            width: 80vh;
        }
    }
    
    #nombreEdificio{
      background-color: $colorPrincipal;
      
      h2{
         text-align: center;
         font-size: 3rem;
         color: white;
         padding-top: 1vh;
         padding-bottom: 1vh;
      }
    }
    #detallesEdificio{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 10vh;
      #listadoDetallesIzquierdo{
         ul{
            list-style-image: url(../assets/icons/flecha.svg);
            li{
               padding: 1vh 0vh 1vh 0vh;
               font-size: 1.5rem;
            }
         }
      }
    }

}

@media (max-width: 1000px){
   #mainEdificioDetalle{
      #detallesEdificio{
         #listadoDetallesIzquierdo{
            ul{
               li{
                  font-size: 1.2rem;
                  width: 30vh;
               }
            }
         }
         #mapaGoogle{
            margin-top: 5vh;
            iframe{
               width: 50vh;
               height: 40vh;
               
            }
         }
       }
   }
}
@media (max-width: 680px){
   #mainEdificioDetalle{
      #edificioImagen{
         img{
             width: 60vh;
         }
      }
      #detallesEdificio{
         flex-direction: column;
         #listadoDetallesIzquierdo{
            ul{
               li{
                  font-size: 1.2rem;
                  width: 100%;
               }
            }
         }
      }
   }
}

@media (max-width: 500px){
   #mainEdificioDetalle{
      #edificioImagen{
         img{
             width: 40vh;
         }
      }
      #nombreEdificio{
        
         
         h2{
            font-size: 2rem;
         }
       }
      #detallesEdificio{
         flex-direction: column;
         #listadoDetallesIzquierdo{
            ul{
               li{
                  font-size: 1rem;
                  width: 100%;
               }
            }
         }
         #mapaGoogle{
            margin-top: 5vh;
            iframe{
               width: 90%;
               
               
            }
         }
      }

   }
}
@media (max-width: 340px){
   #mainEdificioDetalle{
      #edificioImagen{
         img{
             width: 30vh;
         }
      }
      #nombreEdificio{
        
         
         h2{
            font-size: 1.5rem;
         }
       }
      #detallesEdificio{
         flex-direction: column;
         #listadoDetallesIzquierdo{
            ul{
               li{
                  font-size: .8rem;
                  width: 100%;
               }
            }
         }
      }
   }
}