@import "./variables";
@import "./mixins";



header{
    font-family: fuentePrincipal;
    background-color: white;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid rgb(33, 141, 212);
    height: 12vh;
    z-index: 5;
    #botoneraNav{
     
        a{  
            @include reseteo-links;
            color: $colorPrincipal;
            padding: 0vh 1vh 0vh 1vh;
            border-right: 1px solid $colorPrincipal;
            font-weight: 700;
            &:hover{
                color: $colorSecundario;
            }
        }
        #btnTrabajaConNostros{
            border: none;
        }
    }
}

@media (max-width: 992px){
    header{
        flex-wrap: wrap;
        #botoneraNav{
            padding-bottom: 2vh;
            display: flex;
        }
    }
}
@media (max-width: 650px){
    header{
        #botoneraNav{
            padding-bottom: 2vh;
            display: flex;
            font-size: .8rem;
            
        }
    }
}
@media (max-width: 500px){
    header{
        flex-wrap: nowrap;
        flex-direction: column;
        height: 25vh;
        #logo{
            margin-top: 2vh;
        }
        #botoneraNav{
            flex-direction: column;
            padding-bottom: 2vh;
            display: flex;
            font-size: 1.2rem;
            margin-top: 1vh;
            border-top: 3px solid rgb(33, 141, 212);
            width: 100%;
            align-items: center;
            
            a{
                margin-top: 1vh;
                border: none;
                text-align: center;
                width: 30vh;             
                
            }
        }
    }
}