@import "./variables";
@import "./mixins";



header{
    font-family: fuentePrincipal;
    background-color: white;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid rgb(33, 141, 212);
    height: 12vh;
    #botoneraNav{
     
        a{  
            @include reseteo-links;
            color: $colorPrincipal;
            padding: 0vh 1vh 0vh 1vh;
            border-right: 1px solid $colorPrincipal;
            font-weight: 700;
            &:hover{
                color: $colorSecundario;
            }
        }
        #btnTrabajaConNostros{
            border: none;
        }
    }
}